
<!-- bof "view_user_default.html" -->
<div class="view_user">
	<div class="view_user_name">{user_first_name} {user_last_name}</div>
	<div class="view_user_images">
		<p class="bold">{lang_images}</p>
		<hr />
		{user_images_thumbnails}
	</div>
	<div class="view_user_info">
		<p>{user_display_info}</p>
		<p>{user_contact_link}</p>
		<p>{user_listings_link}</p>
		<p><img src="{user_qr_code_link}" /></p>
	</div>
	<div class="view_user_listings">
		{user_listings_list}
	</div>
	<div class="view_user_hitcount">{user_hit_count}</div>
</div>
<!-- eof "view_user_default.html" -->
