<!-- bof "view_users_default.html" -->
{next_prev}

<div class="view_users">
	{user_block}
	<div class="view_users_block">
		<div class="view_users_thumbs">
			{agent_image_thumb_1_block}
				<a href="{agent_link}" title="">{agent_image_thumb_1}</a>
			{/agent_image_thumb_1_block}
		</div>
		<div class="view_users_fields">
			<h3><a href="{agent_link}" title="">{agent_first_name} {agent_last_name}</a></h3>
			<p>{agent_display_info}</p>
			<div class="user_contact_link">{agent_contact_link}</div>
			
		</div>

		<div><img src="{agent_qr_code_link}" class="view_users_qr_code" /></div>
	
	
		<div class="clear"></div>
	</div>
	<div class="space_5"></div>
	{/user_block}
	
</div>
<!-- eof "view_users_default.html" -->